{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block nav_bar_content %}
<li class="nav_item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('user_dashboard', user_name=user_name) }}">My
        Books</a>
</li>
<li class="nav_item">
    <a class="nav-link" href="{{ url_for('book_store', user_name=user_name) }}">Books Store</a>
</li>
<li class="nav_item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}

{% block content %}
<h1 class="heading"> Your Books</h1>
{% if not books_issued %}
<div class="message">
    <p>No Issued books.</p>
</div>
{%else%}
<div class="b_area">

    {% for book in books_issued %}
    {% set feedback_exists = feedback.query.filter_by(username=user_name, book_id=book.book_id).first() %}

    <div class="card" style="width: 14rem;">
        <div class="book_cover">
            <img src="{{ url_for('static', filename='Uploads/images/' + '/'.join(book.image.replace('\\', '/').split('/')[-1:])) }}"
                class="card-img-top" alt="Book Cover" height="300px" width="169px">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ book.name }}</h5>
            <hr style="border-color: rgb(0, 0, 0); border-width: 2px;">
            <p class="card-text">Author: {{ book.author }} <br> Average Rating:
                {{feedback.calculate_avg_rating(book.book_id)}}/5.0 </p>
            <div class="but_reg">
                <a class="btn btn-dark"
                    href="{{ url_for('book_view_user', user_name=user_name, book_id=book.book_id) }}">View Book</a>
                {% if not feedback_exists %}
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#review_{{ book.book_id }}">Submit
                    Review</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="review_{{ book.book_id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('submit_review', user_name=user_name, book_id=book.book_id) }}" method="POST"
                    enctype="multipart/form-data" id="section-form{{ loop.index }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_bookLabel">Submit Review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="stars" class="form-label">Rating:<br><small>* 1 for Bad and 5 for
                                    Excellent</small></label>
                            <div class="rating">
                                <input type="radio" id="star1{{ loop.index }}" name="rating" value="1" /><label
                                    for="star1{{ loop.index }}" title="1 star">1</label>
                                <input type="radio" id="star2{{ loop.index }}" name="rating" value="2" /><label
                                    for="star2{{ loop.index }}" title="2 stars">2</label>
                                <input type="radio" id="star3{{ loop.index }}" name="rating" value="3" /><label
                                    for="star3{{ loop.index }}" title="3 stars">3</label>
                                <input type="radio" id="star4{{ loop.index }}" name="rating" value="4" /><label
                                    for="star4{{ loop.index }}" title="4 stars">4</label>
                                <input type="radio" id="star5{{ loop.index }}" name="rating" value="5" /><label
                                    for="star5{{ loop.index }}" title="5 stars">5</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="feedback" class="form-label">Feedback:</label>
                            <textarea class="form-control" id="feedback{{ loop.index }}" name="feedback"
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}<br>
<h1 class="heading"> Request Pending</h1>
{% if not books_in_request %}
<div class="message">
    <p>No Pending Requests.</p>
</div>
{%else%}
<div class="b_area">

    {% for book in books_in_request %}
    <div class="card" style="width: 14rem;">
        <div class="book_cover">
            <img src="{{ url_for('static', filename='Uploads/images/' + '/'.join(book.image.replace('\\', '/').split('/')[-1:])) }}"
                class="card-img-top" alt="Book Cover" height="300px" width="169px">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ book.name }}</h5>
            <hr style="border-color: rgb(0, 0, 0); border-width: 2px;">
            <p class="card-text">Author: {{ book.author }} <br> Average Rating:
                {{feedback.calculate_avg_rating(book.book_id)}}</p>
        </div>
    </div>
    {%endfor%}
</div>
{% endif %}
{% endblock %}