{%extends 'base.html'%}
{%block title%}Book{%endblock%}

{%block nav_bar_content%}
<li class="nav_item">
    <a class="nav-link active" aria-current="page" href="{{url_for('librarian_dashboard')}}">Sections</a>
</li>
<li class="nav_item">
    <a class="nav-link" href="{{url_for('request_page')}}">Requests</a>
</li>
<li class="nav_item">
    <a class="nav-link" href="{{url_for('stats_librarian')}}">Stats</a>
</li>
<li class="nav_item">
    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
</li>
{%endblock%}

{%block content%}
<div class="text-end">
    <a class="btn btn-light" href="{{url_for('book_delete',section_name=section_name,book_id=book_id)}}">
        -Delete Book
    </a>
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edit_book">
        Edit Book
    </button>
</div>

<div class="card mb-3">
    <div class="b_area">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='Uploads/images/' + '/'.join(book.image.replace('\\', '/').split('/')[-1:])) }}"
                class="img-fluid rounded-start" alt="" height="550px" width="310px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="font-size:50px;">Book Name : {{book.name}}</h5>
                
                <hr style="border-color: rgb(0, 0, 0); border-width: 2px;">
                <p class="card-text" id="body-text">Author : {{book.author}}<br>Average Rating:
                    {{feedbacks.calculate_avg_rating(book_id)}}/5.0</p>
                <a href="{{url_for('view_content_lib',section_name=section_name,book_id=book.book_id)}}"
                    class="btn btn-dark">View content</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="edit_book">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('book_edit', section_name=section_name, book_id=book_id) }}" method="POST"
                enctype="multipart/form-data" id="section-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_bookLabel">Edit Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Book Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Book Name"
                            required="1"><br>
                        <label for="author" class="form-label">Author Name</label>
                        <input type="text" class="form-control" id="author" name="author"
                            placeholder="Enter Authors Name" required="1"><br>
                        <label for="image" class="form-label"> Change Image</label>
                        <input type="file" class="form-control" id="image" name="image" placeholder="Input File"
                            required="1"><br>
                        <label for="Context" class="form-label"> Change content PDF</label>
                        <input type="file" class="form-control" id="content" name="content" placeholder="Input File"
                            required="1"><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="section-form" class="btn btn-dark">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h1 class="heading">User Reviews</h1>
{% set feedbacks=feedbacks.query.filter_by(book_id=book_id).all() %}
{% for feedback in feedbacks %}
<div class="card">
    <div class="review">
        <h5>{{feedback.username}} :</h5>
        {{feedback.feedback}}
    </div>

</div>
{% endfor %}
{%endblock%}